<div class="container-fluid wm-hero-container col-xxl-10 p-4 my-5">
    <div class="row flex-lg-row-reverse align-items-center g-5">
        <div class="col-10 offset-1 offset-sm-2 offset-md-2 offset-lg-0 col-sm-8 col-lg-6">
            <img src="/assets/website-hero.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                loading="lazy" width="700" height="500">
        </div>
        <div class="col-lg-6 text-center text-lg-start">
            <h2 class="display-5 mb-3">Setup a website on your own. <br /> No technical skills required</h2>
            <p class="lead">Quickly create responsive website that looks great on any device. </p>
            <p>
                You can attach a custom domain name for it or use our free domain name and go live in an hour. 
            </p>
            <!-- <div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
                <a routerLink="/website-wizard" class="btn btn-primary btn-lg px-4 me-md-2">Start</a>
            </div> -->
        </div>
    </div>
</div>

<app-footer></app-footer>