
.wm-hero-container {
    /* background-color: #d6f9a3; */
    background-color: #abf7fb;
    border-radius: 0.4rem;

    p.lead {
        font-weight: 500;
    }
}

.wm-pricing-feature {
    background-color: #d8d8ff;
    border-radius: 0.4rem;
}

