.templates {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    height: calc(100% - 12rem);
    overflow-y: auto;

    button {
        img {
            width: 100%;
            margin-bottom: 1rem;
        }
        div {
            text-align: center;
        }
    }
}

.layout-preview-image-in-modal {
    width: 100%;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
}

.template-wrap {
    
    &.active {
        cursor: default;
    }
    
    img {
        width: 100%;
    }
    .bottom-bar {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        padding: 0.25rem;
        border-radius: 0.25rem;
        margin-top: 0.5rem;

        .btn-icon {
            padding: 0.25rem;
            font-size: 1.25rem;
            background: #eee;
            line-height: 1;
            margin-left: 0.25rem;
            background-color: #ddd;
            border-radius: 0.25rem;
            border: none;
        }

        .action-buttons {
            flex: 1;
            display: flex;
            justify-content: space-between;
        }
    }

    &.active,
    &.hover {
        .bottom-bar {
            background-color: #fff;

            .file-number {
                /* color: #000; */
                color: blue;
            }
        }
    }
}

.wm-template { 
    gap: 2px;    
    /* margin-bottom: 0.25rem; */
    background-color: #eee;
    /* padding: 1rem; */
    /* margin-bottom: 3.9rem; */
    position: relative;
}

.wm-template > div {
    border: 2px solid #777;
    background-color: cyan;
    /* min-height: 5rem; */
}
