* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: yellow;
    padding: 0.75rem;
    position: relative;
}

.pad {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #aaa;
    height: 240px;
    z-index: 10;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    /* margin-top: 245px; */
    /* background-color: yellow; */
}

.wm-template {
    display: grid;
    gap: 2px;
    width: 100%;
    aspect-ratio: 179.25 / 107.9;
    /* margin-bottom: 0.25rem; */
    background-color: #eee;
    padding: 1rem;
    margin-bottom: 3.9rem;
    position: relative;
}

.wm-template > div {
    border: 2px solid #777;
    background-color: cyan;
    /* min-height: 5rem; */
}

.wm-template::after {
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    right: 0;
    padding-left: 1rem;
    font-size: 1.2rem;
    content: attr(data-number);
}

.wm-cell-1 {
    grid-area: a;
}

.wm-cell-2 {
    grid-area: b;
}

.wm-cell-3 {
    grid-area: c;
}

.wm-cell-4 {
    grid-area: d;
}

.wm-cell-5 {
    grid-area: e;
}

.wm-cell-6 {
    grid-area: f;
}

.wm-cell-7 {
    grid-area: g;
}

.wm-cell-8 {
    grid-area: h;
}

.wm-cell-9 {
    grid-area: i;
}

.wm-template-001 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-areas:
        "a b b"
        "a c d"
        "a e e";
}

.wm-template-002 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-areas:
        "a b b"
        "a c c"
        "a d e";
}

.wm-template-003 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-areas:
        "a a"
        "b c"
        "d e";
}

.wm-template-004 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-areas:
        "a a"
        "b c"
        "d d";
}

.wm-template-005 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-areas:
        "a a a a"
        "b b c c"
        "d e e f";
}

.wm-template-006 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-areas:
        "a a"
        "b c"
        "d c";
}

.wm-template-007 {
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-areas:
        "a a a a"
        "b b b c"
        "d e f c";
}

.wm-template-008 {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-areas:
        "a a"
        "b c"
        "b d";
}

.wm-template-009 {
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-areas:
        "a a a a"
        "b c c c"
        "b d e f";
}

.wm-template-010 {
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-areas:
        "a a a"
        "b c c"
        "b d e";
}

.wm-template-011 {
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 4fr 2fr 1fr;
    grid-template-areas:
        "a b c"
        "d d d"
        "e e e";
}

.wm-template-012 {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas:
        "a a a"
        "b b c"
        "d e c";
}

.wm-template-013 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b"
        "c d";
}

.wm-template-014 {
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-areas:
        "a b b c c"
        "d d d d d"
        "e e f f g";
}

.wm-template-015 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas:
        "a b c"
        "d d d";
}

.wm-template-016 {
    grid-template-columns: 4fr 3fr 3fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas:
        "a b c"
        "a d d";
}

.wm-template-017 {
    grid-template-columns: 4fr 3fr 3fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas:
        "a b b"
        "a c d";
}

.wm-template-018 {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a b"
        "a c"
        "a d";
}

.wm-template-019 {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a b"
        "a c"
        "a d";
}

.wm-template-020 {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a b"
        "a c"
        "a d";
}

.wm-template-021 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c"
        "d e c";
}

.wm-template-022 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c"
        "d d c";
}

.wm-template-023 {
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c"
        "a d c";
}

.wm-template-024 {
    grid-template-columns: 2fr 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c"
        "d e c";
}

.wm-template-025 {
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c d"
        "a e f f";
}

.wm-template-026 {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a b c"
        "a b c"
        "d b c"
        "d e c";
}

.wm-template-027 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a b b c"
        "a b b c"
        "d b b c"
        "d e f c";
}

.wm-template-028 {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c"
        "d b e";
}

.wm-template-029 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c c"
        "d b e f";
}

.wm-template-030 {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c"
        "d b e";
}

.wm-template-031 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
        "a b"
        "a c";
}

.wm-template-032 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-areas:
        "a b"
        "a c"
        "d d";
}

.wm-template-033 {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b"
        "c b";
}
.wm-template-034 {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b"
        "c b";
}

.wm-template-035 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas:
        "a b"
        "c c";
}

.wm-template-036 {
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b b b"
        "c d e f";
}

.wm-template-037 {
    grid-template-columns: 2fr 1fr 1fr 2fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas:
        "a a b b c"
        "d e e f c"
        "d g g f c";
}

.wm-template-038 {
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c d"
        "e b c d";
}

.wm-template-039 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c"
        "d d c";
}

.wm-template-040 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c"
        "a d d";
}

.wm-template-041 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c"
        "a d e";
}

.wm-template-042 {
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-areas:
        "a a b b"
        "c c c c"
        "d e e f";
}

.wm-template-043 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a a"
        "b c";
}

.wm-template-044 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c"
        "d d d";
}

.wm-template-045 {
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a a a"
        "b c d";
}

.wm-template-046 {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b"
        "a c";
}

.wm-template-047 {
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "a b c";
}

.wm-template-048 {
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c"
        "a b d";
}

.wm-template-049 {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a b"
        "c d"
        "e e";
}

.wm-template-050 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a a a a b b b b b b b b "
        "a a a a c c c c c c c c"
        "d d d e e e e e e f f f";
}

.wm-template-051 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a a a a b b b b b b b b "
        "a a a a c c c c c c c c"
        "d d d e e e e e e f f f";
}

.wm-template-052 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2fr 2fr 1fr 1fr;
    grid-template-areas:
        "a a a a b b b b b b b b "
        "a a a a c c c c c c c c"
        "d d d e e e e e e f f f"
        "d d d e e e e e e g g g";
}

.wm-template-053 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b"
        "c c";
}

.wm-template-054 {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1r 1fr;
    grid-template-areas:
        "a b"
        "a d"
        "c d";
}

.wm-template-055 {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1r 1fr;
    grid-template-areas:
        "a b b"
        "a c c"
        "d d d";
}

.wm-template-056 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    grid-template-areas:
        "a"
        "b"
        "c";
}

.wm-template-057 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2fr 2r 1fr 1fr;
    grid-template-areas:
        "a a a a b b b b b b b b"
        "a a a a c c c c c c c c"
        "d d d e e e e e e e e e"
        "d d d f f f f f f f f f";
}

.wm-template-058 {
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c"
        "d d e";
}

.wm-template-059 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-areas:
        "a b b c c c"
        "d d d d d d"
        "e e f f g g";
}

.wm-template-060 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-areas:
        "a b b c c c"
        "d d d d e e"
        "f f f f f f";
}

.wm-template-061 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-areas:
    "a"
    "b"
    "c";
}

.wm-template-062 {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b"
        "c b";
}

.wm-template-063 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a b"
        "a c"
        "a d";
}

.wm-template-064 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b"
        "a c";
}

.wm-template-065 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "a b c d";
}

.wm-template-066 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a"
        "b"
        "c"
        "d";
}

.wm-template-067 {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a b"
        "c b"
        "d d";
}

.wm-template-068 {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a b"
        "c b"
        "d d";
}

.wm-template-069 {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "a a a"
        "b c d";
}

.wm-template-070 {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "a a a"
        "b c d";
}

.wm-template-071 {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a a"
        "b c"
        "b d";
}

.wm-template-072 {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a a"
        "b c"
        "b d";
}

.wm-template-073 {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a a"
        "b c"
        "d c";
}

.wm-template-074 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a a"
        "b b"
        "c d";
}

.wm-template-075 {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 2fr 2fr 3fr;
    grid-template-areas:
        "a a"
        "b c"
        "b d";
}

.wm-template-076 {
    grid-template-columns: 4fr 3fr 3fr;
    grid-template-rows: 2fr 2fr 3fr;
    grid-template-areas:
        "a a a"
        "b c c"
        "b d e";
}

.wm-template-077 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 3fr;
    grid-template-areas:
        "a a"
        "b c"
        "d d";
}

.wm-template-078 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 5fr;
    grid-template-areas:
        "a a a"
        "b c d";
}

.wm-template-079 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 5fr;
    grid-template-areas:
        "a a a"
        "b c d";
}

.wm-template-080 {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 5fr;
    grid-template-areas:
        "a a"
        "b c"
        "b d";
}

.wm-template-081 {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a a"
        "b c"
        "d c";
}

.wm-template-082 {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a b"
        "a c"
        "a d";
}

.wm-template-083 {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a b"
        "a c"
        "a d";
}

.wm-template-084 {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a b"
        "a c"
        "a d";
}

.wm-template-085 {
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a b b"
        "a c c"
        "a d e";
}

.wm-template-086 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "a a a"
        "b c d"
        "e e e";
}

.wm-template-087 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "a"
        "b"
        "c";
}

.wm-template-088 {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "a a"
        "b c"
        "d d";
}

.wm-template-089 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "a a"
        "b c"
        "d d";
}

.wm-template-090 {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "a a"
        "b c"
        "d d";
}

.wm-template-091 {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "a a"
        "b c"
        "d d";
}

.wm-template-092 {
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2fr 3fr 4fr;
    grid-template-areas:
        "a b"
        "c b"
        "d b";
}

.wm-template-093 {
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2fr 3fr 4fr;
    grid-template-areas:
        "a b"
        "c b"
        "d b";
}

.wm-template-094 {
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 2fr 7fr;
    grid-template-areas:
        "a a b"
        "c d b";
}

.wm-template-095 {
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 2fr 7fr;
    grid-template-areas:
        "a a b"
        "c d b";
}

.wm-template-096 {
    grid-template-columns: 4fr 6fr 4fr 3fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
        "a b c d"
        "e e e d"
        "f f f d";
}

.wm-template-097 {
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
        "a b c d"
        "e e e d";
}

.wm-template-098 {
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "a a b"
        "c d b"
        "e e b";
}

.wm-template-099 {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "a a a"
        "b c d";
}

.wm-template-100 {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "a a a"
        "b c d";
}

.wm-template-101 {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
        "a b c"
        "d d d";
}

.wm-template-102 {
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
        "a b c"
        "a d c";
}

.wm-template-103 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    grid-template-areas:
        "a b c"
        "d d d";
}

.wm-template-104 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    grid-template-areas:
        "a b c"
        "d d d";
}

.wm-template-105 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c"
        "a d c";
}

.wm-template-106 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-areas:
        "a b c"
        "d b e"
        "d f e"
        "g f h";
}

.wm-template-107 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
        "a b c"
        "d b e"
        "f b g";
}

.wm-template-108 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
        "a b c"
        "d b c"
        "e b c";
}

.wm-template-109 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
        "a b c"
        "d b c"
        "e b c";
}

.wm-template-110 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-areas:
        "a b c"
        "d b c"
        "d b e"
        "f b e";
}

.wm-template-111 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-areas:
        "a b c"
        "d b c"
        "d b e"
        "f b e";
}

.wm-template-112 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-areas:
        "a b c"
        "d b c"
        "d b e"
        "f b e";
}

.wm-template-113 {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b"
        "c d";
}

.wm-template-114 {
    grid-template-columns: 4fr 3fr 3fr;
    grid-template-rows: 2fr 1fr 3fr;
    grid-template-areas:
        "a b b"
        "a c d"
        "e c d";
}

.wm-template-115 {
    grid-template-columns: 4fr 3fr 3fr;
    grid-template-rows: 2fr 1fr 3fr;
    grid-template-areas:
        "a b b"
        "a c d"
        "e c d";
}

.wm-template-116 {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    grid-template-areas:
        "a b"
        "a c"
        "d c"
        "d e";
}

.wm-template-117 {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    grid-template-areas:
        "a b"
        "a c"
        "d c"
        "d e";
}

.wm-template-118 {
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 2fr 1fr 3fr;
    grid-template-areas:
        "a a b"
        "a a c"
        "d e c";
}

.wm-template-119 {
    grid-template-columns: 4fr 3fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a b b"
        "a c d"
        "e e e";
}

.wm-template-120 {
    grid-template-columns: 4fr 3fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a b b"
        "a c d"
        "e e e";
}

.wm-template-121 {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 5fr 7fr 3fr 5fr;
    grid-template-areas:
        "a b"
        "c b"
        "c d"
        "e d";
}

.wm-template-122 {
    grid-template-columns: 3fr 3fr 4fr;
    grid-template-rows: 5fr 7fr 8fr;
    grid-template-areas:
        "a a b"
        "c d b"
        "c d e";
}

.wm-template-123 {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 5fr 7fr 3fr 5fr;
    grid-template-areas:
        "a b"
        "c b"
        "c d"
        "e d";
}

.wm-template-124 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        "a a a a"
        "b c d e";
}

.wm-template-125 {
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a b"
        "c b"
        "d b";
}

.wm-template-126 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 3fr 1fr;
    grid-template-areas:
        "a a a"
        "b b b"
        "c d e";
}

.wm-template-127 {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a b"
        "a c"
        "a d"
        "a e";
}

.wm-template-128 {
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a b"
        "c b"
        "d b"
        "e b";
}

.wm-template-129 {
    grid-template-columns: 5fr 1fr 9fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
        "a b b"
        "a c c"
        "d d e";
}

.wm-template-130 {
    grid-template-columns: 6fr 4fr 5fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
        "a a b"
        "c c b"
        "d e e";
}

.wm-template-131 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c"
        "d e f";
}

.wm-template-132 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c"
        "d e f";
}

.wm-template-133 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c"
        "d e f";
}

.wm-template-134 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
        "a b c"
        "d e e"
        "d f f";
}

.wm-template-135 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
        "a b c"
        "d e c"
        "d f c";
}

.wm-template-136 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
        "a b c"
        "d e c"
        "d f c";
}

.wm-template-137 {
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b b c"
        "d e f c";
}

.wm-template-138 {
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c d"
        "e b c f";
}

.wm-template-139 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4fr 1fr 3fr 2fr;
    grid-template-areas:
        "a b c"
        "a b d"        
        "e b d"
        "e b f";
}

.wm-template-140 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4fr 1fr 1fr 4fr;
    grid-template-areas:
        "a b c"
        "a b d"        
        "e b d"
        "e b f";
}

.wm-template-141 {
    grid-template-columns: 3fr 3fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c d"
        "e b f d";
}

.wm-template-142 {
    grid-template-columns: 3fr 3fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b c d"
        "e b f d";
}

.wm-template-143 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas:
        "a b c d"
        "e e c d"
        "e e f f";
}

.wm-template-144 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas:
        "a b c d"
        "e e c d"
        "e e f f";
}

.wm-template-145 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-areas:
        "a b c d"
        "e e c d"
        "e e f f"
        "g g f f";
}

.wm-template-146 {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-areas:
        "a a b"
        "a a c"
        "d e c"
        "d e f";
}

.wm-template-147 {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    grid-template-areas:
        "a a b"
        "a a c"
        "d e c"
        "d e f";
}

.wm-template-148 {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-areas:
        "a a b"
        "a a c"
        "d e c"
        "d e f";
}

.wm-template-149 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 3fr;
    grid-template-areas:
        "a a b b"
        "a a c d"
        "e f c d";
}

.wm-template-150 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 3fr;
    grid-template-areas:
        "a a b b"
        "a a c d"
        "e f c d";
}

.wm-template-151 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5fr 3fr 2fr;
    grid-template-areas:
        "a a b b"
        "c d b b"
        "c d e f";
}

.wm-template-152 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a a b c"
        "d e f f";
}

.wm-template-153 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a a b c"
        "d e f g";
}

.wm-template-154 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a a b c"
        "d e f g";
}

.wm-template-155 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
        "a a b c"
        "d e f g"
        "d e f h";
}

.wm-template-156 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a a b c"
        "d e f c";
}

.wm-template-157 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a a b c"
        "d e b f";
}

.wm-template-158 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a a b c"
        "d e b f";
}

.wm-template-159 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a a b b"
        "c d e f";
}

.wm-template-160 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a a b b"
        "c d e f";
}

.wm-template-161 {
    grid-template-columns: 5fr 2fr 3fr;
    grid-template-rows: 3fr 3fr 2fr 4fr;
    grid-template-areas:
        "a b c"
        "a d c"
        "a e e"
        "f e e";
}

.wm-template-162 {
    grid-template-columns: 5fr 2fr 3fr;
    grid-template-rows: 3fr 3fr 2fr 4fr;
    grid-template-areas:
        "a b c"
        "a d c"
        "a e e"
        "f e e";
}

.wm-template-163 {
    grid-template-columns: 5fr 5fr 4fr 6fr;
    grid-template-rows: 3fr 3fr 2fr 4fr;
    grid-template-areas:
        "a a b c"
        "a a d c"
        "a a e e"
        "f g e e";
}

.wm-template-164 {
    grid-template-columns: 5fr 2fr 3fr;
    grid-template-rows: 3fr 3fr 2fr 4fr;
    grid-template-areas:
        "a b c"
        "a d c"
        "a e e"
        "f e e";
}

.wm-template-165 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-areas:
        "a b c"
        "a d c"
        "a e e";
}

.wm-template-166 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-areas:
        "a b c"
        "a d c"
        "a e f";
}

.wm-template-167 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d c"
        "a e f"
        "g g g";
}

.wm-template-168 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d c"
        "a e f"
        "g e f";
}

.wm-template-169 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d c"
        "a e f"
        "g e f";
}

.wm-template-170 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d c"
        "a e f"
        "g e f";
}

.wm-template-171 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a a b c"
        "a a d c"
        "a a e f"
        "g h e f";
}

.wm-template-172 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a a b c"
        "a a d c"
        "a a e f"
        "g h e f";
}

.wm-template-173 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d e"
        "a f g"
        "h f g";
}

.wm-template-174 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d e"
        "a f g"
        "h f g";
}

.wm-template-175 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a a b c"
        "a a d e"
        "a a f g"
        "h i f g";
}

.wm-template-176 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d e"
        "a f g"
        "h f g";
}

.wm-template-177 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d e"
        "a f f"
        "g f f";
}

.wm-template-178 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d e"
        "a f f"
        "g f f";
}

.wm-template-179 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d e"
        "a f f"
        "g f f";
}

.wm-template-180 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a a b c"
        "a a d e"
        "a a f f"
        "g h f f";
}

.wm-template-181 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a a b c"
        "a a d e"
        "a a f f"
        "g h f f";
}

.wm-template-182 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d e"
        "a d f"
        "g d f";
}

.wm-template-183 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d e"
        "a d f"
        "g d f";
}

.wm-template-184 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d e"
        "a d f"
        "g d f";
}

.wm-template-185 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a a b c"
        "a a d e"
        "a a d f"
        "g h d f";
}

.wm-template-186 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a a b c"
        "a a d e"
        "a a d f"
        "g h d f";
}

.wm-template-187 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a a b c"
        "a a d e"
        "a a d f"
        "g h d f";
}

.wm-template-188 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d d"
        "a e f"
        "g e f";
}

.wm-template-189 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d d"
        "a e f"
        "g e f";
}

.wm-template-190 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d d"
        "a e f"
        "g e f";
}

.wm-template-191 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a a b c"
        "a a d d"
        "a a e f"
        "g h e f";
}

.wm-template-192 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a a b c"
        "a a d d"
        "a a e f"
        "g h e f";
}

.wm-template-193 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d d"
        "a e e"
        "f e e";
}

.wm-template-194 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d d"
        "a e e"
        "f e e";
}

.wm-template-195 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d d"
        "a e f"
        "g e f";
}

.wm-template-196 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d d"
        "a e e"
        "f e e";
}

.wm-template-197 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d d"
        "a e e"
        "f e e";
}

.wm-template-198 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a b c"
        "a d d"
        "a e e"
        "f e e";
}

.wm-template-199 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a a b c"
        "a a d d"
        "a a e e"
        "f g e e";
}

.wm-template-200 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    grid-template-areas:
        "a a b c"
        "a a d d"
        "a a e e"
        "f g e e";
}

.wm-template-201 {
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr;
    grid-template-rows: 3fr 2fr;
    grid-template-areas:
        "a b b c c"
        "a d e e f";
}

.wm-template-202 {
    grid-template-columns: 2fr 2fr 1fr 3fr;
    grid-template-rows: 3fr 2fr;
    grid-template-areas:
    "a b b c"
    "a d e e";
}

.wm-template-203 {
    grid-template-columns: 2fr 2fr 1fr 3fr;
    grid-template-rows: 3fr 2fr;
    grid-template-areas:
    "a b b c"
    "a d e e";
}

.wm-template-204 {
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr;
    grid-template-rows: 3fr 2fr;
    grid-template-areas:
        "a b b c c"
        "a d e e f";
}

.wm-template-205 {
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr;
    grid-template-rows: 3fr 2fr;
    grid-template-areas:
        "a b b c c"
        "a d e e f";
}

.wm-template-206 {
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr;
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-areas:
        "a b b c c"
        "a d e e f"
        "a d e e g";
}

.wm-template-207 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 3fr;
    grid-template-areas:
        "a a a"
        "b c d"
        "e e e";
}

.wm-template-208 {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a a b"        
        "c d b";
}









