:host {
    display: block;
    overflow-x: hidden;
}

.menu1 {
    padding: 1rem;
    background-color: #eee;
    ul {
        padding: 0;
        margin: 0;
    }
    position: relative;

    .right-draw {
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        width: 50rem;
    }

    display: flex;
    justify-content: center;

    ul.center-menu {
        flex: 1;
        padding: 0 1rem;

        list-style: none;

        display: flex;
        align-items: center;

        li {
            padding: 0.5rem 1rem;
            cursor: pointer;
            position: relative;

            display: inline-flex;

            .dropdown-icon {
                height: 1.5rem;
                width: 1.5rem;
                text-align: center;

                transition: all 0.3s ease-in-out;

                .bi {
                    line-height: 1;
                    font-size: 1rem;
                    color: #aaa;
                }
            }
            .sub-categories {
                border-radius: 0.5rem;
                position: absolute;
                top: 3.75rem;
                width: 12rem;
                left: 0.5rem;
                max-height: 70vh;
                overflow-y: auto;
                z-index: 2;

                visibility: hidden;
                opacity: 0;

                transition: all 0.3s ease-in-out;

                a {
                    display: block;
                    padding: 0.75rem 1.25rem;
                    text-decoration: none;
                    color: black;
                }
            }

            &:hover {
                .dropdown-icon {
                    transform: rotate(180deg);
                }

                .sub-categories {
                    background-color: #efefef;
                    visibility: visible;
                    opacity: 1;
                    top: 3.25rem;
                }
            }
        }
    }

    .right-menu {
        ul {
            display: flex;
            list-style: none;

            li {
                button,
                a {
                    display: inline-block;
                    margin: 0;
                    padding: 1rem;
                    border: none;
                    background: transparent;
                    line-height: 1;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    text-decoration: none;
                    color: black;

                    transition: background-color 0.3s ease-in-out;

                    &:hover {
                        background-color: #ddd;
                        
                    }
                }
            }
        }
    }
}
