
.color-picker-control {
    height: 3rem;
    cursor: pointer;
}

.background-preview-square {
    height: 5rem;
    border-radius: 0.5rem;
    position: relative;
    margin-bottom: 2rem;

    &.selected {
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

        &::after {
            position: absolute;
            content: ' ';
            left: 0.5rem;
            right: 0.5rem;
            bottom: -1.25rem;
            height: 0.5rem;
            background-color: blue;
            border-radius: 0.5rem;
        }
    }
}