.wm-website-questions-container {
    background-color: #cbffdd;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

/* .form-check {
    margin-bottom: 1rem;
} */

.form-check-label {
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    width: 100%;

    .label-text  {
        margin-bottom: 0.5rem;
    }

    p {
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
}

.form-check-input {
    margin-top: 0.5rem;
}

.question {
    margin-bottom: 2rem;
}

.answer {
    text-align: left;
}
.step-status {
    .bi {
        margin-right: 0.5rem;
    }
}

/* .editor-workbench {
    border: 1px solid red;
} */

.editor-preview {
    border: 1px solid green;
    min-height: calc(100vh - 100px);
}

.editor-side-menu {
    border: 1px solid blue;
    background-color: #efefef;
}