<div class="container wm-website-questions-container my-md-3">
    <div class="row">
        <div class="col col-sm-10 offset-sm-1">
            <div>
                <h1 class="text-center mb-5">Website Wizard</h1>
                <form (ngSubmit)="onWebsiteTypeFormSubmit()" #websiteTypeForm="ngForm">
                    <div class="question">
                        <h5 class="mb-3">Give a name for the website</h5>
                        <div class="form-floating mb-5">                                                        
                            <input class="form-control" type="text" id="website-name" name="websiteName" [(ngModel)]="website.name" placeholder="My Website" required/>
                            <label for="website-name">Website Name</label>
                        </div>
                        <h5 class="mb-3">Select Type of Website</h5>
                        <div class="form-check">
                            <label class="form-check-label" for="radioWebsiteType1" >
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="radioWebsiteType"
                                    id="radioWebsiteType1"
                                    required
                                    [(ngModel)]="website.type"
                                    value="portfolio"
                                />

                                <div class="label-text">Portfolio website</div>

                                <p>
                                    To introduce yourself, showcase your work
                                    and let others know your availability for
                                    work or hire.
                                </p>
                                <p>
                                    Preferable for students and professionals.
                                </p>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="radioWebsiteType2" >
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="radioWebsiteType"
                                    id="radioWebsiteType2"
                                    required
                                    [(ngModel)]="website.type"
                                    value="business"
                                />
                                
                                <div class="label-text">Business website</div>
                                
                                <p>
                                    To market your brand, showcase your products,
                                    services, offers, gallery, pricing, business
                                    locations, news letter signups, provide contact
                                    form and live chat.
                                </p>
                                <p>
                                    Preferable for institutions, companies, shops,
                                    clinics, consultancies.                                    
                                </p>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="radioWebsiteType3">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="radioWebsiteType"
                                    id="radioWebsiteType3"
                                    required
                                    [(ngModel)]="website.type"
                                    value="ecommerce"
                                />

                                <div class="label-text">eCommerce website</div>
                                
                                <p>
                                    A Business website fine-tuned to sell products and services
                                    online. 
                                </p>
                                <p>
                                    Preferable for shops, traders, distributors, 
                                    SMEs and home-based manufacturing businesses.
                                </p>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="radioWebsiteType4">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="radioWebsiteType"
                                    id="radioWebsiteType4"
                                    required
                                    [(ngModel)]="website.type"
                                    value="blog"
                                />
                                
                                <div class="label-text">Blog</div>
                                
                                <p>
                                    To write about things that you want to share
                                    with the world, like explainer articles, recipes,
                                    news or express opinions.
                                </p>
                                <p>
                                    Preferable for bloggers, journalists, hobbyists,
                                    professionals, artists, etc., on topics like
                                    food, health, education, travel, tech, art,
                                    nature, finance, astrology, etc.
                                </p>
                            </label>
                        </div>
                    </div>
                    <div hidden>
                        Blog, ratings, reviews, shopping cart, 
                        appointment booking, payment processing, 
                        delivery service providers,
                        ERP, CRM and Social Media Marketing 
                        can be integrated with all website types
                    </div>
                    <button type="submit" class="btn btn-primary"
                        [disabled]="!websiteTypeForm.form.valid">Next</button>
                </form>
            </div>
        </div>
    </div>
</div>
