<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <!-- <div class="container-fluid"> -->
    <a class="navbar-brand" routerLink="/">
        <img src="/assets/webmeteor.png" alt="" class="d-inline-block align-text-top">
        <span>{{title | uppercase}}</span>
    </a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed"
        aria-controls="navbarContent" [attr.aria-expanded]="!isMenuCollapsed" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse bg-light px-3" [class.collapse]="isMenuCollapsed" >
        <ul class="navbar-nav ms-auto">
            <!-- Sign In dropdown - only show when NOT signed in -->
            @if (!signinStatus) {
            <li dropdown class="nav-item dropdown" #signinDropdown="bs-dropdown" (onShown)="onDropdownShown()">
                <button dropdownToggle class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sign In
                </button>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                    <div id="signin-button-container"></div>
                </div>
            </li>
            }

            <!-- Sign Out button - only show when signed in -->
            @if (signinStatus) {
            <li class="nav-item" (click)="isMenuCollapsed = true">
                <button class="nav-link g_id_signout" type="button" (click)="signOut()">
                    Sign Out
                </button>
            </li>
            }

        </ul>
    </div>
    <!-- </div> -->
</nav>
<main>

</main>
<router-outlet></router-outlet>
<footer>

</footer>