<h5>Page: {{websiteService.activeWebsite.name}}</h5>
<div class="actions-bar">
    <button class="btn btn-outline-success m-1" title="Add new section" (click)="onAddSectionClick()">Add
        Section</button>
    <button class="btn btn-outline-primary m-1" title="Edit selected section" (click)="onEditSectionClick()"
        [disabled]="websiteService.activeWebsite.selectedWebsiteSectionIndex === -1">Edit Section</button>
    <button class="btn btn-outline-danger m-1" title="Delete selected section" (click)="onDeleteSectionClick($event)"
        [disabled]="websiteService.activeWebsite.selectedWebsiteSectionIndex === -1">Delete Section</button>
</div>
<div class="d-grid gap-2">
    <div class="website-section-wrap" *ngFor="let websiteSection of websiteService.activeWebsite.activePage.sections; index as i"
        [class.active]="websiteService.activeWebsite.selectedWebsiteSectionIndex === i" (click)="onWebsiteSectionClick(i)">
        <div class="website-section">
            <span class="section-name">{{websiteSection.name}}</span>
            <div class="section-options">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" (change)="websiteSection.toggleGridLines()"
                    [id]="'show-grid-lines-' + websiteSection.id" [checked]="websiteSection.showGridLines">
                    <label class="form-check-label" [htmlFor]="'show-grid-lines-' + websiteSection.id">
                        Show grid lines
                    </label>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="no-data mt-3" *ngIf="websiteService.activeWebsite.activePage.sections.length === 0">
    <span>This page is empty. Click 'Add' button to add a new section to this page</span>
</div>