:host {
    display: block;
    overflow-x: hidden;
}

.menu2 {
    padding: 2rem 5rem;

    .grid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        border: 1px solid black;
        padding: 1rem 0;
        gap: 0;
        border-radius: 1rem;

        .category {
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                color: black;

                border: 1px solid transparent;
                border-right-color: black;

                img {
                    border-radius: 50%;
                    width: 4rem;
                    border: 1px solid black;                    
                    margin-bottom: 0.5rem;
                }
            }

            &:last-child { 
                a {
                    border-right-color: transparent;
                }                
            }
        }
    }
}
