<div class="carousel-container">
    <div class="carousel-1" #carousel>
        <div class="slides-container" #slideContainer (pointerdown)="onPointerDown($event)"
            (pointerup)="onPointerUp($event)" (pointermove)="onPointerMove($event)"
            (pointercancel)="onPointerCancel($event)" (click)="onSlideClick($event)" [style.transform]="transform"
            [style.transitionDuration]="transitionDuration">
            <div class="slide" *ngFor="let slide of carouselSlides; index as i;" [style.width]="slideWidth + 'px'">
                <a [routerLink]="slide.url">
                    <div (click)="onSlideClick($event)">
                        <img [src]="slide.image" (click)="$event.preventDefault()" />
                        <div style="text-align: center;" (click)="$event.preventDefault()">{{i+1}}</div>
                    </div>
                </a>
            </div>
        </div>
        <div>transform: {{transform}}</div>
        <div>transitionDuration: {{transitionDuration}}</div>
        <div>pointerStartingClientX: {{pointerStartingClientX}}</div>
        <div>previousClientX: {{previousClientX}}</div>
        <div>isDragging: {{isDragging}}</div>
        <div>currentSlide: {{currentSlide}}</div>
        <div>slideContainerPosition: {{slideContainerPosition}}</div>
        <div>slideContainerStartLimit: {{slideContainerStartLimit}}</div>
        <div>slideContainerEndLimit: {{slideContainerEndLimit}}</div>
        <div>slideContainerOffset: {{slideContainerOffset}}</div>
        <div>directionText: {{directionText}}</div>
        <div class="buttons">
            <button (click)="showPrevious($event)">Previous</button>
            <button (click)="showNext($event)">Next</button>
        </div>
    </div>
</div>