.wm-not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }