.wm-editor-container {
    height: calc(100vh - 4rem);
    overflow: hidden;
}

.editor-nav {
    height: 3rem;
}

.editor-workbench {
    height: calc(100vh - 7rem);
    overflow: hidden;
}

.preview-device-type-options {
    float: right;
    margin-top: 0.25rem;
}
.editor-preview-content {    
    height: 100%;
    background-color: #aaa;
    padding: 1rem;
    margin: 0;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-image: url('/assets/marble-tile.jpg');
    background-repeat: repeat;

    iframe {
        width: 100%;
        height: calc(100vh - 9rem);
        display: block;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 0.25rem;
        border: 1px solid #333;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

        transition-property: width, min-width;
        transition-duration: 0.4s;

        &.desktop {
            min-width: 998px;
            width: 100%;
        }
        &.ipad {
            min-width: 768px;            
            width: 100%;
            max-width: 1080px;
        }
        &.mobile {
            width: 375px;
            max-width: 100%;
        }
    }
}

.editor-side-menu-content,
.editor-side-menu-heading {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #efefef;
    border-left: 1px solid #333;    
    background-image: url('/assets/cement-texture.jpg');
    background-repeat: repeat;
}

.editor-side-menu-content {
    height: 100%;
}

.toggle-editor-tools-button {
    float: right;
    margin-top: 0.25rem;
}

.side-menu-tree {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        padding: 0;
        margin-bottom: 0.25rem;
    }
}

.editor-top-menu-title {
    margin: 0;
}

.actions-bar {
    background: #fff;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;

    .btn {
        padding: 0.25rem 0.75rem;
    }
}

.main-actions-bar {
    display: flex;
    align-items: center;
}





.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  