:host { display: block; overflow-x: hidden; }

.wrap {
    background-color: black;
    display: flex;
    align-items: center;
    color: white;
    padding: 0.5rem;    
    font-size: 0.95rem;

    .center-section {
        flex: 1;
        display: grid;

        span {
            justify-self: center;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;

            b {
                padding: 0 0.5rem;
                background-color: white;
                color: black;
                border-radius: 0.4rem;
                font-family: 'Times New Roman', Times, serif;
            }
        }

    }

    .right-section {
        button {
            /* background-color: white; */
            background: transparent;
            border: none;
            cursor: pointer;
            color: white;
            font-size: 0.9rem;
            font-weight: bolder;
        
        font-family: 'Times New Roman', Times, serif;

            span {
                margin-left: 0.5rem;
            }
        }
    }
}