<h5>Pages</h5>
<div class="actions-bar">
    <!-- <button class="btn btn-outline-success m-1" title="Add new page">Add Page</button> -->
    <button class="btn btn-outline-primary m-1" title="Edit selected page" (click)="onEditPageClick()"
        [disabled]="websiteService.activeWebsite.selectedWebsitePageIndex === -1">Edit Page</button>
    <button class="btn btn-outline-danger m-1" title="Delete selected page" (click)="onDeletePageClick()"
        [disabled]="websiteService.activeWebsite.selectedWebsitePageIndex === -1">Delete Page</button>
</div>

<div class="d-grid gap-2">
    <div class="website-page-wrap" *ngFor="let websitePage of websiteService.activeWebsite.pages; index as i"
        [class.active]="websiteService.activeWebsite.selectedWebsitePageIndex === i" (click)="onWebsitePageClick(i)">
        <div class="website-page">
            {{websitePage.title}}
        </div>
    </div>
</div>